<!--<nav class="navbar navbar-light">-->
<!--  <img id="leftImage" src="assets\images\memoryIcon.png" alt="battle1" width="75" height="75" class="d-inline-block align-top navbar-icon">-->
<!--  <div class="col1 col-md-8">-->
<!--    <div class="col2 col-md-6 text-center">-->
<!--      Today &nbsp;&nbsp; is:&nbsp;&nbsp;  {{date}}-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="col2 col-md-6 text-center">-->
<!--      Lets &nbsp;  train  &nbsp;your&nbsp;  brain...-->
<!--    </div>-->
<!--  <img class="navbar-icon" src="assets\images\memoryIcon.png"alt="battle2" width="75" height="75" >-->
<!--</nav>-->

<div class="container-fluid">
  <div class="row">
    <div  class="col-3">
      <img id="leftImage" src="assets\images\memoryIcon.png" alt="battle1" width="75" height="75" class="d-inline-block align-top navbar-icon">
    </div>
    <div class="col-6" align="center">
      <h1>Memory</h1>
      <p>Lets Train Your Brain</p>
    </div>
    <div  class="col-3">
      <img id = "rightimage" class="navbar-icon" src="assets\images\memoryIcon.png"alt="battle2" width="75" height="75" float="right" >
    </div>
  </div>
</div>
